<div id="home">
    <md-card>
        <md-grid-list cols="3" rowHeight="2:5">
            <md-grid-tile>
                <div class="text-inside-grid">
                    Features
                    <features-tree></features-tree>
                </div>
            </md-grid-tile>
            <md-grid-tile>
                <div class="text-inside-grid">Main Content</div>
            </md-grid-tile>
            <md-grid-tile>
                <div class="text-inside-grid">Layers</div>
            </md-grid-tile>
        </md-grid-list>
    </md-card>
</div>